<link rel="stylesheet" type="text/css" href="/static/style.css"/>
<div>
    <h1>Welcome to Hello World!</h1>
</div>
<div>
    <h2>Matthew Dunn</h2>
</div>
<div>
    <img src="/static/IndianFalls.jpg" alt="Indian Falls" width=100% >
    This is an image of one of my favorite spots; viewing the MacIntyre range in the Adirondacks from Indian Falls. <a target="_blank" rel="noopener" href="https://www.adirondack.net/business/indian-falls-12913/">Hike Information</a>
</div>
<br>
<div>
  Hey what's up my name is Matt. I like video games, LEGO, food, hiking and sleep.
  I want to explore some new technologies and just go in depth more on things I've
  already learned.
</div>
<br>
<div>
    <a href="/page2">Page 2</a>
<div>